<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{user.fullName}}</h2>
                </header>

                <p>
                    {{user.email}}
                </p>

                <footer>
                </footer>
            </article>
        </div>
    </div>
</div>